*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	background-color: white;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #fff;
	font-size: 16px;
	line-height: 24px;
}
a {
	color: #794f45;
    text-decoration: none;
}
ul {
	list-style: none;
}
li  {
    color: #794f45;
}
div {
    color: #794f45;
}
.wrapper {
    min-height: 100%;
}
.navigation__menu {
    display: flex;
    justify-content: end;
    /* border: 5px solid gray; */
}
.navigation__list {
    /* border: 5px solid blue; */
    flex-basis: 80px;
}
.navigation__item {
    /* background-color: beige; */
    padding: 5px 0;
    display: flex;
    justify-content: center;
}
.navigation__link:hover {
    font-size: 1.1em;
}
.navigation__image {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-size: cover;
}
.navigation__image:hover {
    height: 26px;
    width: 26px;
}
.image__popup {
    background-image: url("img/popup-button.png");
}

/* .navigation__item__popup:hover .navigation__image {
} */

.image__notification {
    background-image: url("img/bell.png");
}
.image__profile {
    /*background-image: url("img/bell.png");*/
    background-color: #cccccc;
}
/*popup*/
.popup__menu {
    position: relative;
    display: flex;
}
.toggle {
    position: absolute;
    /* opacity: 0.5; */
    right: 0px;
    height: 24px;
    width: 24px;
    appearance: none;
    cursor: pointer;
}
.popup__container {
    height:0px;
    overflow: hidden;
    transition: height .4s ease;
    display: none;
}
.toggle:checked {
    border: 1px solid blueviolet;
    border-radius: 2px;
    box-shadow: 2px 2px 2px rgba(27, 5, 48, 0.5);
}
.toggle:checked + .popup__container {
    /* max-height: 500px; */
    width: 100%;
    border: 1px solid black;
    position: absolute;
    top: 40px;
    right: -80px;
    /* display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(2,1fr); */
    /* display: flex;
    flex-direction: column; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(6,1fr);
}
.popup__box {
    /* display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(6,1fr); */
}
.popup__item {
    padding: 5px;
    border: 1px dashed green;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
}
.popup__link {
    flex-basis: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.popup__image {
    height: 24px;
    width: 24px;
    background-size: cover;
    /*background-image: url("img/bell.png");*/
    background-color: #cccccc;
}